ASTERISK_DB_HOST=127.0.0.1
ASTERISK_DB_PORT=55432
ASTERISK_DB_NAME=callcenter_manager
ASTERISK_DB_USER=asterisk_schedule_reader
ASTERISK_DB_PASSWORD=copy-from-deploy-env-production
ASTERISK_ODBC_DSN=callcenter_pg
ASTERISK_ODBC_DRIVER=PostgreSQL Unicode
ASTERISK_CONFIG_DIR=/etc/asterisk
ASTERISK_SOUND_DIR=/var/lib/asterisk/sounds/custom/callcenter_manager
